{% extends "base.html" %}

{% block title %}Blogs - Intelvibez{% endblock %}

{% block header %}Blogs{% endblock %}

{% block content %}
<div class="content">
    <h2>Our Latest Blogs</h2>
    <p>Welcome to our blog section! Here you will find the latest articles and posts from our team of writers. We cover a wide range of topics to keep you informed and entertained.</p>
    <ul>
        <li><a href="#">Blog Post 1</a></li>
        <li><a href="#">Blog Post 2</a></li>
        <li><a href="#">Blog Post 3</a></li>
        <!-- Add more blog posts as needed -->
    </ul>
</div>
{% endblock %}