<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Intelvibez</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <header class="auth-header">
        <h1>Register</h1>
    </header>
    <main>
        <div class="login-container">
            <form method="POST" action="{{ url_for('routes.register') }}">
                {{ form.hidden_tag() }}
                <label for="username">Username:</label>
                {{ form.username }}
                <label for="email">Email:</label>
                {{ form.email }}
                <label for="password">Password:</label>
                {{ form.password }}
                <label for="confirm_password">Confirm Password:</label>
                {{ form.confirm_password }}
                <button type="submit">Register</button>
            </form>
        </div>
    </main>
</body>
</html>